
@import "bourbon/bourbon";
@import "colors";

$font-stack:    Helvetica, sans-serif;
$border-defwidth: 1px;


body {
  font: 100% $font-stack;
  color: $primary-color;
}


button {@include button(pill);}
textarea {
	background-color: $background;
	color:$primary-color;

}
fieldset
{
border: $border-defwidth solid $border-colour;
width: 20em;
}
input
{
color: $border-colour;
background: $background;
border: $border-defwidth solid $border-colour;
line-height: 25px;
}