
$primary-color: #291400;
$backgroundone: #FF9999;
$backgroundtwo: purple;
$backgroundthree:maroon;
$background-top:#999999;
$border-colour: #ffffff;
$pink: fuchsia;
$colupperheader:#cccccc;
$colbotright:#880000;
$textcolor1:black;
$textcolor2:white;
$textcolor3:purple;
$see-thru-image:rgba(255,255,255,0);