
.upper-img-top1 {
  float: right;
  position: relative;
  left: 0.5vw;
  top: 1vw;
  width: 51%;
}

.middle-img-top1 {
  width: 100%;
   }

  .lower-img1-top1 {
  float: right;
  height: 46%;
  width: 45%;
  position: relative;
  left: 3vw;
  top: 3vw; }

.lower-img2-top1 {
  float: right;
  height: 122%;
  width: 26%;
  position: relative; }

.middle-img-top2 {
  height: 100%;
  width: 36%;
  float: right;
   margin-top: -1vw}

.lower-img1-top2 {
  float: left;
  border-style: solid;
  border-color: $border-colour;
  width: 35%;
  position: relative;
  left: 2vw;
   }

.lower-img2-top2 {
  float: left;
  border-style: solid;
  border-color: $border-colour;
  width: 35%;
  position: relative;
  left: 4vw;
   }

   .upper-img-top3 {
  width: 100%;
  }

  .lower-img-top3 {
  float: right;
  height: 50%;
  position: relative;
  width: 40%;
  }

.makeup-pic {
 width: 100%;
height: 80%;
  position: relative;
}
.jumper-pic {
  width: 27%;
  float: left;
  /*display: inline;*/
  margin-right: 5%; 
}
.cleanshirt-pic {
  width: 100%;
  position: relative;
   z-index:5;
  margin-left: -1vw;
  margin-top:-1.5vw;
}
.hairwand-pic {
  width: 100%;
  position:relative;
left: -2vw}

.eye-gel-pic {
  float: left;
  width: 25%;
  position: relative;
 margin-top: -1vw;
margin-right: 2vw;
margin-left: 0.3vw;
}













