.upper-img-top1 {
  float: right;
  position: relative;
  left: 0.5vw;
  top: 1vw;
  width: 51%; }

.middle-img-top1 {
  width: 100%; }

.lower-img1-top1 {
  float: right;
  height: 46%;
  width: 45%;
  position: relative;
  left: 3vw;
  top: 3vw; }

.lower-img2-top1 {
  float: right;
  height: 122%;
  width: 26%;
  position: relative; }

.middle-img-top2 {
  height: 100%;
  width: 36%;
  float: right;
  margin-top: -1vw; }

.lower-img1-top2 {
  float: left;
  border-style: solid;
  border-color: #ffffff;
  width: 35%;
  position: relative;
  left: 2vw; }

.lower-img2-top2 {
  float: left;
  border-style: solid;
  border-color: #ffffff;
  width: 35%;
  position: relative;
  left: 4vw; }

.upper-img-top3 {
  width: 100%; }

.lower-img-top3 {
  float: right;
  height: 50%;
  position: relative;
  width: 40%; }

.makeup-pic {
  width: 100%;
  height: 80%;
  position: relative; }

.jumper-pic {
  width: 27%;
  float: left;
  /*display: inline;*/
  margin-right: 5%; }

.cleanshirt-pic {
  width: 100%;
  position: relative;
  z-index: 5;
  margin-left: -1vw;
  margin-top: -1.5vw; }

.hairwand-pic {
  width: 100%;
  position: relative;
  left: -2vw; }

.eye-gel-pic {
  float: left;
  width: 25%;
  position: relative;
  margin-top: -1vw;
  margin-right: 2vw;
  margin-left: 0.3vw; }

.upper-header-top1 {
  font-size: 2vw;
  color: white;
  margin-top: 1vw;
  margin-left: 0.5vw;
  margin-bottom: 0px;
  font-weight: 600;
  width: 98%;
  height: 13%; }

.lower-header-top1 {
  font-size: 1.5vw;
  font-weight: 600;
  color: purple;
  width: 100%; }

.upper-header-the-top2 {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 1vw;
  font-size: 5vw;
  font-family: "Cookie", cursive;
  position: relative;
  top: 3vw;
  /*width: 85%;
  height: 39%; */ }

.upper-header-hot-top2 {
  color: fuchsia;
  margin-left: 6vw;
  font-size: 10vw;
  margin-top: 0px;
  margin-bottom: 0px;
  font-weight: bolder;
  position: relative;
  bottom: 4vw;
  font-family: "Anton", sans-serif;
  /*width: 100%;
  height: 100%; */ }

.upper-header-list-top2 {
  margin-left: 19vw;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 5vw;
  position: relative;
  bottom: 8vw;
  font-family: "Cookie", cursive;
  /*width: 68%;
  height: 40%; */ }

.lower-header-top2 {
  color: fuchsia;
  margin-left: 2vw;
  position: relative;
  font-size: 10vw;
  clear: left;
  z-index: inherit;
  top: 1vw;
  font-weight: 600;
  font-size: 1.5vw;
  width: 94%;
  /*height: 4%; */ }

.upper-header-top3 {
  font-size: 2vw;
  color: white;
  margin-top: 0vw;
  margin-left: 0.5vw;
  margin-bottom: 0px;
  font-weight: 600;
  width: 98%;
  height: 13%; }

.lower-header-top3 {
  font-size: 1.5vw;
  font-weight: 600;
  margin-bottom: 0px;
  margin-top: 0px;
  position: relative;
  width: 100%; }

.bheader1 {
  font-size: 1.5vw;
  margin: 0px;
  color: white;
  background-color: purple; }

.bheader2 {
  color: maroon;
  font-weight: 600;
  font-size: 1.8vw;
  margin: 0px;
  display: inline; }

.bheader3 {
  color: white;
  font-weight: 600;
  font-size: 1.4vw;
  margin-bottom: 0; }

.bheader4 {
  clear: left;
  color: purple;
  font-weight: 700;
  font-size: 1.5vw;
  display: relative;
  bottom: 2vw;
  margin-left: 15%;
  margin-bottom: 2vw; }

.upper-para-top1 {
  font-size: 1vw;
  color: #cccccc;
  margin-top: 0.5vw;
  margin-left: 0.5vw;
  width: 98%;
  height: 73%; }

.lower-para-top1 {
  font-size: 1vw;
  clear: right; }

.lower-para-text-top1 {
  position: relative;
  bottom: 0.2vw;
  width: 100%;
  height: 44%; }

.bold-para-div-top2 {
  position: relative;
  width: 35%;
  height: 51%;
  bottom: 14vw;
  font-weight: 600;
  font-size: 1.8vw; }

.upper-para-bold-top2 {
  /*width: 89%;
  height: 10%; */
  margin-left: 2vw;
  margin-top: -6vw;
  margin-bottom: 0vw;
  font-size: 1.5vw;
  font-weight: 600; }

.upper-para-name-top2 {
  margin-left: 5vw;
  /*position: relative;
  /*bottom: 16vw;
  width: 93%;
  height: 9%; */ }

.lower-para-top2 {
  margin-left: 2vw;
  /*position: relative;*/
  clear: left;
  z-index: inherit;
  top: 2.5vw;
  width: 88%;
  height: 1vw;
  font-weight: 600; }

.upper-para-top3 {
  font-size: 1vw;
  color: #cccccc;
  margin-top: .5vw;
  margin-left: .5vw;
  width: 98%; }

.lower-para-top3 {
  font-size: 1vw;
  /* position: relative;
   bottom: 10vw;
   width: 100%;
   height: 73%; */ }

.bottom-left-text {
  height: 31%;
  width: 100%;
  background-color: purple;
  color: white;
  font-size: 1.0vw;
  position: relative;
  margin: 0; }

.bottom-middle-text {
  margin: 0;
  font-size: 1.0vw; }

.bottom-middle-text-2 {
  color: black;
  font-size: 1.0vw;
  text-align: right;
  margin: 0; }

.eye-gel-text {
  font-size: 1.0vw;
  margin: 0px; }

.pricing-top-right {
  font-size: 0.8em;
  position: relative;
  bottom: 1.8vw;
  left: 6vw; }

.hairwand-text {
  position: relative;
  font-size: 1vw;
  margin-top: 0;
  margin-bottom: 0; }

/*.price-movement {
  position: relative;
  font-size: 1vw;
  color: $colupperheader;
  width: 100%;
  background-color: $backgroundtwo;
  }*/
.price-text {
  position: relative;
  left: 13vw; }

/*
.floatleft .middle-img-top1, .overall-box-top2, .hairwand-pic{
  float:left;
  position:relative;
}
*/
body {
  font: Arial, sans-serif;
  color: #291400; }

button {
  border: 1px solid #3371b2;
  border-color: #3371b2 #2457a3 #164297;
  border-radius: 16px;
  box-shadow: inset 0 1px 0 0 #64a9f2;
  color: white;
  display: inline-block;
  font-size: inherit;
  font-weight: normal;
  line-height: 1;
  background-color: #4294f0;
  background-image: -webkit-linear-gradient(#4294f0, #0156fe);
  background-image: linear-gradient(#4294f0, #0156fe);
  padding: 7px 18px;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 -1px 1px #2762bf;
  background-clip: padding-box; }
  button:hover:not(:disabled) {
    background-color: #2d88ee;
    background-image: -webkit-linear-gradient(#2d88ee, #1554ce);
    background-image: linear-gradient(#2d88ee, #1554ce);
    background-clip: padding-box;
    border: 1px solid #2062a7;
    border-color: #2062a7 #0e479a #01318e;
    box-shadow: inset 0 1px 0 0 #519cf0;
    cursor: pointer;
    text-shadow: 0 -1px 1px #134faf; }
  button:active:not(:disabled), button:focus:not(:disabled) {
    background: #226edd;
    border: 1px solid #0d3c8c;
    border-bottom: 1px solid #062d8d;
    box-shadow: inset 0 0 6px 3px #0c44b8;
    text-shadow: 0 -1px 1px #1a52aa; }
  button:disabled {
    cursor: not-allowed;
    opacity: 0.5; }

textarea {
  background-color: #FF9999;
  color: #291400; }

fieldset {
  border: 1px solid #ffffff;
  width: 20em; }

input {
  color: purple;
  background: #FF9999;
  border: 1px solid #ffffff;
  line-height: 25px; }

strong {
  font-weight: 900;
  font-style: italic;
  text-align: right; }

span {
  color: fuchsia; }

/*

@media (min-width: px) and (max-width: 1440px) {
  .over-box-top {
    width: 1050px;
    height: 662px;
    margin-left: 1px; }

  .all-bottom {
    width: 1050px;
    height: 331px;
    margin-left: 1px; } }
@media (min-width: 768px) and (max-width: 1024px) {
  .over-box-top {
    width: px;
    height: px;
    margin-left: 1px; }

  .all-bottom {
    width: px;
    height: px;
    margin-left: 1px; } }
@media (min-width: 1px) and (max-width: 1px) {
  .over-box-top {
    width: px;
    height: px;
    margin-left: 1px; }

*/
.wholepage {
  flex-direction: row;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  /*height:1800px;*/ }

.banner {
  width: 100%; }

.over-box-top {
  /*height: 63%;*/
  display: flex;
  flex-wrap: wrap; }

.trends-lines {
  position: relative;
  top: 20%;
  width: 100%; }

.overall-box-top1 {
  width: 19%;
  clear: left;
  margin-right: 1%; }

.Trends {
  color: fuchsia;
  font-weight: 600;
  font-size: 2.5vw;
  font-style: italic;
  width: 20%;
  display: inline; }

.category {
  font-size: 1.5vw;
  display: inline;
  font-family: times;
  width: 30%; }

.upper-half-box-top1 {
  width: 100%;
  height: 42%;
  background-color: maroon;
  position: relative;
  bottom: 1vw; }

.lower-half-box-top1 {
  clear: left;
  width: 100%;
  height: 58%;
  position: relative;
  bottom: 1vw; }

.overall-box-top2 {
  width: 60%;
  margin-right: 1%;
  background-color: #999999;
  font-size: 1vw;
  color: #cccccc;
  font-family: Arial, sans-serif;
  left: 1.5vw; }

.lower-half-box-top2 {
  height: 79%;
  width: 65%;
  position: relative; }

.overall-box-top3 {
  width: 19%;
  float: left;
  position: relative; }

.upper-half-box-top3 {
  width: 100%;
  background-color: purple; }

.lower-half-box-top3 {
  width: 100%; }

.all-bottom {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 30%; }

.bottom-left {
  width: 33%;
  left: 0; }

.bottom-middle {
  width: 33%;
  color: black; }

.bottom-right {
  width: 33%;
  flex-direction: column;
  display: flex;
  position: relative; }

.bottom-middle-sweatshirt {
  height: 40%; }

.bottom-right-container1 {
  color: white;
  width: 100%;
  height: 50%;
  background-color: maroon;
  font-size: 1.0vw; }

.bottom-right-container2 {
  font-size: 1.0vw;
  width: 100%;
  height: 50%; }

.comment-form {
  border: 1px solid #3371b2;
  border-color: #3371b2 #2457a3 #164297;
  border-radius: 16px;
  box-shadow: inset 0 1px 0 0 #64a9f2;
  color: white;
  display: inline-block;
  font-size: inherit;
  font-weight: normal;
  line-height: 1;
  background-color: #4294f0;
  background-image: -webkit-linear-gradient(#4294f0, #0156fe);
  background-image: linear-gradient(#4294f0, #0156fe);
  padding: 7px 18px;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 -1px 1px #2762bf;
  background-clip: padding-box; }
  .comment-form:hover:not(:disabled) {
    background-color: #2d88ee;
    background-image: -webkit-linear-gradient(#2d88ee, #1554ce);
    background-image: linear-gradient(#2d88ee, #1554ce);
    background-clip: padding-box;
    border: 1px solid #2062a7;
    border-color: #2062a7 #0e479a #01318e;
    box-shadow: inset 0 1px 0 0 #519cf0;
    cursor: pointer;
    text-shadow: 0 -1px 1px #134faf; }
  .comment-form:active:not(:disabled), .comment-form:focus:not(:disabled) {
    background: #226edd;
    border: 1px solid #0d3c8c;
    border-bottom: 1px solid #062d8d;
    box-shadow: inset 0 0 6px 3px #0c44b8;
    text-shadow: 0 -1px 1px #1a52aa; }
  .comment-form:disabled {
    cursor: not-allowed;
    opacity: 0.5; }

.article-form {
  border: 1px solid #3371b2;
  border-color: #3371b2 #2457a3 #164297;
  border-radius: 16px;
  box-shadow: inset 0 1px 0 0 #64a9f2;
  color: white;
  display: inline-block;
  font-size: inherit;
  font-weight: normal;
  line-height: 1;
  background-color: #4294f0;
  background-image: -webkit-linear-gradient(#4294f0, #0156fe);
  background-image: linear-gradient(#4294f0, #0156fe);
  padding: 7px 18px;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 -1px 1px #2762bf;
  background-clip: padding-box; }
  .article-form:hover:not(:disabled) {
    background-color: #2d88ee;
    background-image: -webkit-linear-gradient(#2d88ee, #1554ce);
    background-image: linear-gradient(#2d88ee, #1554ce);
    background-clip: padding-box;
    border: 1px solid #2062a7;
    border-color: #2062a7 #0e479a #01318e;
    box-shadow: inset 0 1px 0 0 #519cf0;
    cursor: pointer;
    text-shadow: 0 -1px 1px #134faf; }
  .article-form:active:not(:disabled), .article-form:focus:not(:disabled) {
    background: #226edd;
    border: 1px solid #0d3c8c;
    border-bottom: 1px solid #062d8d;
    box-shadow: inset 0 0 6px 3px #0c44b8;
    text-shadow: 0 -1px 1px #1a52aa; }
  .article-form:disabled {
    cursor: not-allowed;
    opacity: 0.5; }

/*# sourceMappingURL=test.css.map */

/*# sourceMappingURL=flexbox_layout.css.map */
